.glow-on-hover {
    width: 22vw;
    height: 9vh;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-18 {
    align-items: center;
    background-color: #0a66c2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
        "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437e;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}

.add-safe-button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #0a66c2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
}
.add-safe-button:hover {
    background-color: #16437e;
}
.add-safe-info {
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.6vw;
    height: 13vh;
    padding: 5px;
    border: solid;
    border-radius: 20px;
    background-color: #0a66c2;
    color: white;
    transition: 0.4s;
    z-index: 5;
    overflow-y: visible;
}

.add-safe-info.hidden {
    font-size: 0;
    opacity: 0;
    height: 0;
    width: 0;
}
.search-result {
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 6.5vh;
    padding: 5px;
    border: solid;
    font-size: 13px;
    border-radius: 20px;
    background-color: #0a66c2;
    color: white;
    transition: 0.4s;
    z-index: 5;
    overflow-y: visible;
}
.search-result.hidden {
    font-size: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.cancel-button {
    display: flex;
    font-size: larger;
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.cancel-button:hover {
    background-color: red;
    color: white;
}

.share-button {
    width: 35px;
    height: 35px;
    font-size: 15px;
    border: solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.share-modal-container {
    position: absolute;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 13vh;
    padding: 5px;
    border: solid;
    border-radius: 20px;
    background-color: #0a66c2;
    color: white;
    transition: 0.4s;
    z-index: 5;
    overflow-y: visible;
}
.share-modal-container.hidden {
    font-size: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.share-modal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.share-icon {
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}
.share-icon:hover {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .share-modal-container {
        width: auto;
        height: 300px;
    }
    .share-modal{
        height: 100%;
        flex-direction: column;
    }
    .add-safe-info {
        display: none;
    }
}
