.name-input-bar {
    width: 37vw;
    height: 6.5vh;
    border-radius: 12px;
    margin-bottom: 5px;
}

.create-safelock-button {
    width: 37vw;
    height: 6.5vh;
    border-radius: 12px;
    margin-top: 5px;
}
