.header {
    margin-bottom: 10px;
    padding-right: 50px;
}

.search-area {
    height: 50px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 22vw;
    height: 6.5vh;
    border: solid;
    border-radius: 20px;
}
.search-bar input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-radius: 20px;
    height: 100%;
    width: 90%;
}
