.header {
    margin-bottom: 10px;
    padding-right: 50px;
}

.search-area {
    height: 50px;
    display: none;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 22vw;
    height: 6.5vh;
    border: solid;
    border-radius: 20px;
}
.search-bar input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-radius: 20px;
    height: 100%;
    width: 90%;
}
.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 50%;
    cursor: pointer;
}
.menu-button:hover {
    background-color: blue;
}

@media only screen and (max-width: 768px) {
    .search-bar {
        width: 130px;
        height: 40px;
        font-size: 10px;
    }
    .header {
        padding-right: 0;
    }
}
