.navbar {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1158f0;
    transition: 0.4s;
}

.navbar.hidden {
    position: absolute;
    left: -50vw;
}
.navbar .back-button {
    width: 100%;
    height: 10vh;
    padding-right: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.navbar .actual-back-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
}
.navbar .actual-back-button:hover {
    background-color: red;
}
.navbar .ul {
    width: 100%;
    height: 70vh;
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbar .li {
    font-size: 25px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navbar input {
    margin-left: 5px;
    height: 80%;
    width: 80%;
}
.navbar .li:hover {
    background-color: #004bec;
}

.navbar .li .close-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s;
}
.navbar .li .close-button:hover {
    background-color: red;
}
.navbar a {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .navbar {
        width: 90%;
    }
    .navbar.hidden {
        left: -100vw;
    }
}
