.notification {
    border: solid;
    position: absolute;
    left: 30vw;
    top: 5vh;
    z-index: 7;
    width: 40vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.notification.hidden {
    top: -30%;
}

.notification.success {
    background-color: green;
}
.notification.error {
    background-color: red;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .notification {
        left: 10vw;
        width: 90vw;
        font-size: 15px;
    }
}
