.greeting {
    font-size: 30px;
    font-weight: bolder;
}

.safelock-id {
    width: auto;
    padding: 7px;
    border: solid;
    border-radius: 15px;
    border-radius: solid;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .greeting {
        font-size: 20px;
    }

    .safelock-id {
        display: none;
    }
}
