.safe {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 13vh;
    border-radius: 6px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
.safe.hidden {
    height: 0;
    font-size: 0;
    opacity: 0;
}

.safe-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-safes {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 13vh;
    border-radius: 6px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .safe {
        height: 200px;
        font-size: 15px;
    }
    .safe-index {
        display: none;
    }
    .no-safes {
        font-size: 12px;
    }
}
