@font-face {
    font-family: digital;
    src: url(fonts/digital-7.ttf);
}

.timer-digits {
    font-family: digital;
    font-weight: bolder;
}

.timer-subgroup {
    width: 7.3vw;
    height: auto;
    padding: 3px;
    border: solid;
    margin-left: 5px;
    margin-right: 5px;
}

.timer-subgroup small {
    font-family: digital;
    font-weight: bolder;
}

.timer-colon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .timer-digits {
        font-size: 15px;
        font-weight: normal;
    }
    .timer-subgroup {
        width: 40px;
        height: 70px;
        margin-left: 2px;
        margin-right: 2px;
        padding: 2px;
    }
    .timer-colon {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 15px;
    }
}
