@font-face {
    font-family: digital;
    src: url(fonts/digital-7.ttf);
}

.timer-digits {
    font-family: digital;
    font-weight: bolder;
}

.timer-subgroup {
    width: 100px;
    height: auto;
    padding: 3px;
    border: solid;
    margin-left: 5px;
    margin-right: 5px;
}

.timer-subgroup small {
    font-family: digital;
    font-weight: bolder;
}

.timer-colon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
}
